@font-face { font-family: Bigfish; src: url("/fonts/Bigfish.eot") /* EOT file for IE */ }
@font-face { font-family: Bigfish; src: url("/fonts/Bigfish.ttf") /* TTF file for CSS3 browsers */ }

#top-ad { background: #000; text-align: center; padding-bottom: 10px; }

h1 { font-family: Bigfish, serif; font-size: 64px; margin: 0px; }

#login { display: none; background: #3b5998; padding: 10px; font-size: 10px; position: absolute; right: 0px; top: 50px; border: 1px solid #1d2a5b; text-align: center; color: #fff; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
#login { }
#login a.logout { color: #aaa; display: block; float: right; position: absolute; bottom: 10px; right: 10px; font-size: 10px;}
#login a.logout img { vertical-align: middle; }
#login a.logout:hover { text-decoration: underline; }
#login span { font-weight: bold; font-size: 12px;}
#login img.profile { float: left; margin-right: 10px; }

#send-form { position: absolute; color: #fff; width: 269px; right: 20px; padding: 0px; top: 10px; }
#send-form h2 { margin: 0px; padding: 0px; }
#send-form p { margin: 10px 0px 20px 0px; padding: 0px; font-size: 14px; color: #eee; }
#friend-avatar { float: left; margin-right: 10px; margin-bottom: 10px; }

input, textarea { padding: 4px; outline: none; border: none; width: 190px; margin-bottom: 10px; height: 24px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input { font-size: 18px; }
textarea { font-size: 14px; }
textarea { height: 72px; }
input.initial, textarea.initial { color: #aaa; font-size: 14px; }
input[type=submit] { cursor: pointer; color: #FFFFFF; background: #660099; width: 196px; margin-left: 60px; height: 34px; border: 1px solid #550080; -moz-border-radius: 6px; -webkit-border-radius: 6px; }

.ui-menu-item { background: #FFFFFF url(/images/friend-cell-bg.png) repeat top center; width: 190px; height: 50px; margin-bottom: 0px; border-bottom: 1px solid #999;}
.ui-menu-item a { display: block; width: 190px; height: 50px; color: #fff; }
.ui-menu-item a img { float: left; margin-right: 10px; }
#ui-active-menuitem { background: #FFFFFF url(/images/friend-cell-bg-highlight.png) repeat top center;}

#image_wrap img { border: 2px solid #FFFFFF; -moz-border-radius: 6px; -webkit-border-radius: 6px; }

.clearfix { clear: both; }

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 560px;
	height:120px;

}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:680px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:100px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(/images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 0px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(/images/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	
