@font-face { font-family: Bigfish; src: url("/fonts/Bigfish.eot") /* EOT file for IE */ }
@font-face { font-family: Bigfish; src: url("/fonts/Bigfish.ttf") /* TTF file for CSS3 browsers */ }

#top-ad { background: #000; text-align: center; padding-bottom: 10px; }

h1 { font-family: Bigfish, serif; font-size: 64px; margin: 0px; }

#login { display: none; background: #3b5998; padding: 5px; font-size: 10px; border: 1px solid #1d2a5b; text-align: center; color: #fff; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; }
#login { position: fixed; top: 0%; right: 0%; z-index: 999;}
#login a.logout { color: #aaa; display: block; float: right; position: absolute; bottom: 10px; right: 10px; font-size: 10px;}
#login a.logout img { vertical-align: middle; }
#login a.logout:hover { text-decoration: underline; }
#login span { font-weight: bold; font-size: 12px;}
#login img.profile { float:left; margin-right: 10px; border: 2px solid #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

#send-form { position: absolute; color: #fff; width: 269px; right: 20px; padding: 0px; top: 10px; }
#send-it, #receive-it {display: none;}
#send-form h2 { margin: 0px; padding: 0px; color: #eee; }
#send-form h3 { margin: 0px; padding-top: 10px; color: #eee; }
#send-form p { margin: 10px 0px 20px 0px; padding: 0px; font-size: 12px; color: #eee; }
#friend-avatar { float: left; margin-right: 10px; margin-bottom: 10px; border: 2px solid #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
#inputs { width: 190px; float: left; }

input, textarea { padding: 4px; outline: none; border: none; width: 190px; margin-bottom: 10px; height: 24px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input { font-size: 18px; }
textarea { font-size: 14px; }
textarea { height: 72px; }
input.initial, textarea.initial { color: #aaa; font-size: 14px; }
input[type=submit], input[type=button] { cursor: pointer; color: #FFFFFF; background: #660099; width: 196px; height: 34px; border: 1px solid #550080; -moz-border-radius: 6px; -webkit-border-radius: 6px; }

.ui-menu-item { background: #FFFFFF url(/images/friend-cell-bg.png) repeat top center; width: 200px; height: 56px; margin-bottom: 0px;}
.ui-menu-item a { display: block; width: 200px; height: 56px; color: #fff; cursor: pointer; font-size: 14px; }
.ui-menu-item a img { float: left; margin-right: 10px; border: 2px solid #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#ui-active-menuitem { background: #FFFFFF url(/images/friend-cell-bg-highlight.png) repeat top center;}

#image_wrap img { border: 2px solid #FFFFFF; -moz-border-radius: 6px; -webkit-border-radius: 6px; }

.clearfix { clear: both; }

/* -------------------- Flash ----------------------*/
#flash{ display: none; width: 100%; margin-bottom: 10px; font-weight: bold; position:fixed; z-index: 100; left:0; top:0; text-align: center; padding: 10px; font-size: 18px; background:#CCE477; color:#264409; }
#oops{ display: none; width: 100%; margin-bottom: 10px; font-weight: bold; position:fixed; z-index: 100; left:0; top:0; text-align: center; padding: 10px; font-size: 18px; background:#FFF6BF; color:#514721; }

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 545px;
	height:100px;
	background-color: #1a1d1c;
	-moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px;
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	margin-top: 0px;
	width:680px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:10px 0px 0px 10px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:117px;
	height:75px;
	cursor: pointer;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	background-color: #660099;
	border-color: #660099;
	position:relative;
	cursor:default;
}


/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(/images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:35px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px; }
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(/images/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	


#admin .gram { float: left; margin: 0px 10px 10px 0px; }
#admin .actions { float: right; }
#admin .actions a { padding-left: 20px; text-decoration: none; }
#admin .actions a:hover { text-decoration: underline; }
#admin .actions a.edit { background:transparent url(/images/icons/16x16/edit.png) 0px 50% no-repeat; }
#admin .actions a.back { background:transparent url(/images/icons/16x16/back.png) 0px 50% no-repeat; }
#admin .actions a.new { background:transparent url(/images/icons/16x16/add.png) 0px 50% no-repeat; }
#admin #gram_image { color: white; width: 300px; }
#admin form abbr { display: none; }
#admin label { width: 50px; float: left; font-weight: bold; }
#admin #gram_phrase { width: 600px; }