#send-form
  %h3= "Send this gram"
  %form
    %input#friend
    %input#recipient_uid{:type=>"hidden"}
    %img#friend-avatar{:src => "http://static.flowplayer.org/tools/img/blank.gif", :width => 50, :height => 50 }

#image_wrap
  %img{:src => "http://static.flowplayer.org/tools/img/blank.gif", :width => 620, :height => 360 }

%a.prev.browse.left
.scrollable
  .items
    - @grams.in_groups_of(4).each do |grams|
      %div
        - grams.each do |gram|
          = image_tag gram.image.url(:thumb)
%a.next.browse.right
.clearfix
