#send-form
  %form
    = image_tag "no-one.png", :id => "friend-avatar", :width => 50, :height => 50
    %label= "Who's acting grumpy?"
    %input#friend.initial{ :value => "enter a friend's name" }
    %input#recipient_uid{:type=>"hidden"}

#image_wrap
  %img{:src => "http://static.flowplayer.org/tools/img/blank.gif", :width => 620, :height => 360 }

%a.prev.browse.left
.scrollable
  .items
    - @grams.in_groups_of(4).each do |grams|
      %div
        - grams.each do |gram|
          = image_tag gram.image.url(:thumb)
%a.next.browse.right
.clearfix
